.nav-button-wrap {
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: relative;
  top: 25px;

  &-text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    right: -40px;
    letter-spacing: 2px;
  }
}
.nav-button {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
//   transform: translate(0, -50%);
margin-left: -11px;
    margin-top: -6px;

  span {
    height: 2px;
    background-color: #ffffff;
    margin: 0 0 4px 0;
    float: left;
    transition: all 200ms linear;
  }

  &-first {
    width: 50%;
  }
  &-mid {
    width: 100%;
  }
  &-last {
    width: 100%;
  }
}
.nav-button:hover .nav-button-first {
    width: 100%;
  }
  .nav-button.active .nav-button-first {
    opacity:0;
  }
  .nav-button.active .nav-button-mid {
    transform: rotate(-45deg);
	margin-bottom:0;
    margin-top:-1px;
  }
  .nav-button.active .nav-button-last {
    transform: rotate(45deg);
	margin-bottom:0;
	margin-top:-2px;
	top:0px;
  }